* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;

    background: linear-gradient(135deg, #667eea, #764ba2);
}

.container {
    width: 90%;
    max-width: 500px;

    padding: 40px 25px;

    text-align: center;

    background: white;

    border-radius: 25px;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
}

h1 {
    color: #222;
    font-size: 32px;
    margin-bottom: 10px;
}

p {
    color: #666;
    font-size: 17px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    display: block;

    padding: 18px;

    border-radius: 14px;

    color: white;
    text-decoration: none;

    font-size: 19px;
    font-weight: bold;

    transition: 0.25s;
}

.btn:hover {
    transform: translateY(-3px);
}

/* ChatGPT */

.chatgpt {
    background: #111111;
}

.chatgpt:hover {
    background: #000000;
}

/* Gemini */

.gemini {
    background: linear-gradient(90deg, #4285f4, #8e44ad);
}

.gemini:hover {
    opacity: 0.9;
}

/* YouTube */

.youtube {
    background: #ff0000;
}

.youtube:hover {
    background: #cc0000;
}


/* Հեռախոսի համար */

@media (max-width: 500px) {

    .container {
        padding: 30px 20px;
    }

    h1 {
        font-size: 27px;
    }

    .btn {
        font-size: 17px;
        padding: 16px;
    }
}
